[submodule "framework/lib/underscore"]
	path = framework/lib/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "framework/lib/jugglingdb"]
	path = framework/lib/jugglingdb
	url = https://github.com/1602/jugglingdb.git
[submodule "framework/lib/ejs"]
	path = framework/lib/ejs
	url = https://github.com/visionmedia/ejs.git
[submodule "framework/lib/bootstrap"]
	path = framework/lib/bootstrap
	url = https://github.com/twitter/bootstrap
